@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

.container{
    background: url(jatek.jpg) no-repeat;
    width: 99%;
    height: 99%;
    position: relative;
}
h1{
    text-align: center;
    color: white;
    font-family: "Salsa";
    font-weight: 400px;
    font-style: normal;
    font-size: 40px;
}
.paragraph{
    text-align: center;
    font-size: 30px;
    color: white;
}
.about{
    text-align: center;
    font-size: 25px;
    color: white;
}