<!DOCTYPE html>
<html lang="hu">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/styles.css">
    <title>Home</title>
</head>
<body>
    <div class="container" id="container">
        <div class="header">
            <h1 class="cim">Szabaduló Szoba</h1>
            <div class="m-5 d-grid gap-2 col-6 mx-auto">
                <a routerLink="/reslist" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-primary" type="button">Foglalások listázása</a>    
                <a routerLink="/resadd" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-primary" type="button">Új foglalás felvétele</a>    
            </div>
            <router-outlet></router-outlet>
            <router-outlet></router-outlet>
        </div>
        <div class="content">
            <div class="paragraph mt-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, iste inventore nulla optio officiis repellendus autem maxime asperiores molestias voluptatum odit omnis deserunt eaque totam quaerat pariatur. Voluptatibus, quasi. Aperiam.lorem</div>
        </div>
        <div class="footer mt-5">
            <div class="about">Kurucz János --- 2024.01.14 --- Frotend progamozás --- Dolgozat --- SZOFTII/1/E</div>
        </div>
    </div>
</body>
</html>
